* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "roboto";
}
body {
  background-color: rgb(10, 20, 46);
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.main .calculatorform {
  width: 350px;
  height: 450px;
  position: relative;
  border: 2px solid rgb(50, 43, 43);
  font-size: 25px;
  font-weight: bolder;
}
.main .calculatorform div {
  width: 100%;
  height: calc(450px / 6);
  display: flex;
  flex: 1;
}
.main .calculatorform div input {
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bolder;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.numbers {
  color: white;
  background-color: rgb(18, 2, 51);
  border: 1px solid rgba(34, 109, 194);
}
.clearbtn {
  color: white;
  background-color: red;
}
